.container {
    max-width: 1170px;
    margin: 0 auto;

    /* Head  css */
    & .con-head {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        border-radius: 10px;
        background: var(--gradient);

        & .head {
            border: 3px solid rgb(0, 0, 0);
            padding: 0.5rem 1rem;
            border-radius: 50px;
        }

        & .head:hover {
            background-color: aliceblue;

        }
        
    }

    & .List {
        margin-bottom: 10px;
        /* border: 1px solid red; */
    }

    & .head-liner {
        display: flex;
        justify-content: center;
        padding: 10px;
        
        /* border-bottom: 1px solid var(--black); */
        
        /* background-color: var(--white); */
        
        & li {
            outline: 2px solid var(--black);
            margin: 0 2rem;
            list-style: none;
            border-radius: 5px;
        
        }

        & a {
            text-decoration: none;
            color: var(--black);
            font-size: 25px;
            font-weight: bold;
            padding: 0 15px;


        }
        & li:hover{
            outline: none;
            background-color: var(--main-color);


            & a:hover {
                color:var(--white);
            }
        }

      
        
    }

    /* Product CSS */


    & .product-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
        grid-gap: 1.5rem;
        padding:  1rem 0.5rem;
       
        

        & .products-item {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            

            /* transition: 0.3s; */
        }

        & .products-item{
            background-color: white;
            /* color: chartreuse; */
        }

        & .products-item:hover {
            box-shadow: 0 0 5px 5px rgba(0, 255, 42, 0.5);

        }

        & .products-detail {
            padding: 0.5rem;
            display: none;
            
        }

        & .products-img img {
            width: 100%;
        }

        & .products-price {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;

            & .pro-price {
                color: red;
                font-size: 20px;
                font-weight: bold;
            }

            & .pro-right {
                font-size: 12px;
            }

        }
    }

   
    
}