.content1 {
    /* border: 1px solid red; */
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

}
.content-img {
    /* margin-top: 50PX ; */
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    /* border: 1px solid red; */

   
}
.content-img img {
    width: 100%;
}
.content-info {
    height: 400px;
    width: 600px;
    margin: 50px;
}

.details{
    margin-top: 20px;
}

.logo {
    display: flex;
    margin: 10px 20px;

}

.logo-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    
}
.logo-con img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    
}

.logo-con p {
    margin-top: 10px;
}